<launch>
    <arg name = "rate" default = "10" />
    <arg name = "record" default = "0" />
    <node
      name="talker"
      pkg="beginner_tutorials"
      type="talker"
      args="$(arg rate)"
      launch-prefix="xterm -e"
      respawn = "true"
    />
    <node
      name="listener"
      pkg="beginner_tutorials"
      type="listener"
      launch-prefix="xterm -e"
      respawn = "true"
    />
    <group if = "$(arg record)">
      <node
        name="record_beginner_tutorials"
        pkg="rosbag"
        type="record"
        args="-a -O record_beginner_tutorials.bag --duration=20"
    />
    </group>
</launch>
